.card-product {
	display: flex;
	flex-direction: column;
	width: calc(20% - 30px);
	margin: 0 15px;

	background: #ffffff;
	border-radius: 15px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);

	// .card-product__image

	&__image {
		position: relative;

		min-height: 160px;

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;

		@media (max-width: $xs) {
			min-height: 200px;
		}

		@media (max-width: $minw) {
			min-height: 140px;
		}
	}

	// .card-product__label

	&__label {
		position: absolute;
		top: 15px;
		left: 15px;
	}

	// .card-product__label-input

	&__label-input {
		display: none;

		// .card-product__label-input:checked+.card-product__label-heart

		&:checked + .card-product__label-heart {
			// .card-product__label-input:checked+.card-product__label-heart .card-product__label-svg

			.card-product__label-svg {
				fill: #ea485a;
			}

			// .card-product__label-input:checked+.card-product__label-heart:hover

			&:hover {
				// .card-product__label-input:checked+.card-product__label-heart:hover .card-product__label-link

				.card-product__label-link {
					max-height: 50px;
					padding-top: 5px;
					padding-bottom: 5px;
				}
			}
		}
	}

	// .card-product__label-heart

	&__label-heart {
		cursor: pointer;

		// .card-product__label-heart:hover

		&:hover {
			// .card-product__label-heart:hover::before
			&::before {
				z-index: 2;
			}
		}

		// .card-product__label-heart::before

		&::before {
			content: "";
			position: absolute;
			bottom: 30px;
			left: -15px;
			z-index: -10;

			width: 120px;
			height: 60px;

			background-color: transparent;
			border-bottom-right-radius: 50%;
		}
	}

	// .card-product__label-svg

	&__label-svg {
		width: 39px;
		height: 35px;

		fill: #aaaaaa;

		transition: 0.35s;
	}

	// .card-product__label-link

	&__label-link {
		position: absolute;
		bottom: calc(100% + 20px);
		left: -15px;
		z-index: 4;

		display: block;
		padding: 0px 12px;
		min-width: 200px;
		max-height: 0px;
		overflow: hidden;

		color: #ea485a;
		font-weight: 300;
		font-size: 16px;
		text-align: center;
		text-decoration: none;

		background: #fefefe;
		border-radius: 5px;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);

		transition: 0.3s;

		// .card-product__label-link:hover

		&:hover {
			// .card-product__label-link:hover::after
			&::after {
				transform: translateX(-50%) scaleX(1);
			}
		}

		// .card-product__label-link::after

		&::after {
			content: "";
			position: absolute;
			bottom: 6px;
			left: 50%;
			transform: translateX(-50%) scaleX(0);

			width: 80%;
			height: 1px;

			background-color: #ea485a;

			transition: 0.2s;
		}
	}

	// .card-product__mark

	&__mark {
		position: absolute;
		top: -6px;
		right: 15px;

		display: inline-block;
		padding: 7px 5px 7px 17px;

		color: #ffffff;
		font-weight: 400;
		font-size: 18px;
		line-height: 1;
		text-transform: uppercase;
		text-decoration: none;

		background-color: #84d776;
	}

	// .card-product__mark-decor

	&__mark-decor {
		position: absolute;
		left: 100%;
		bottom: 0;

		display: inline-block;
		height: 100%;

		border: 16px solid transparent;
		border-top: 16px solid #84d776;
		border-bottom: 16px solid #84d776;
		border-left: 16px solid #84d776;
	}

	// .card-product__info

	&__info {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 4px 6px 15px 15px;
	}

	// .card-product__rating

	&__rating {
		margin-bottom: 3px;
	}

	// .card-product__info-name

	&__info-name {
		margin-bottom: 8px;

		color: #353535;
		font-weight: 400;
		font-size: 18px;
	}

	// .card-product__info-description

	&__info-description {
		margin-bottom: 12px;

		color: #000000;
		font-weight: 300;
		font-size: 16px;
	}

	// .card-product__info-price

	&__info-price {
		margin-top: auto;

		color: #353535;
		font-size: 24px;
		@include roboto-condensed;
	}

	// .card-product__btn

	&__btn {
		position: relative;

		margin-top: auto;
		overflow: hidden;

		color: #fff;
		font-weight: 500;
		font-size: 14px;
		text-transform: uppercase;

		background-color: #4bb3ff;
		border-radius: 0 0 15px 15px;
	}

	// .card-product__btn-buy

	&__btn-buy {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 5;
		transform: translateX(-100%);

		padding: 7px 5px;

		text-align: center;

		background-color: #4bb3ff;
		cursor: pointer;

		transition: 0.35s;

		// .card-product__btn-buy--active

		&--active {
			transform: translateX(0);
		}
	}

	// .card-product__quantity

	&__quantity {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 4;
		transform: translateX(-100%);

		transition: 0.35s;

		// .card-product__quantity--active

		&--active {
			transform: translateX(0);
		}
	}

	// .card-product__quantity-label

	&__quantity-label {
		display: flex;
	}

	// .card-product__quantity-text

	&__quantity-text {
		width: 100%;
		padding: 7px 5px;

		text-align: center;

		background-color: #4bb3ff;
	}

	// .card-product__quantity-input

	&__quantity-input {
		max-width: 30px;
		width: 100%;
		padding: 0;

		color: #fff;
		font-size: 18px;
		text-align: center;

		background-color: #67bfff;
		border: none;

		// .card-product__quantity-input::placeholder

		&::placeholder {
			color: #ffffff;
		}

		// .card-product__quantity-input::-webkit-outer-spin-button
		// .card-product__quantity-input::-webkit-inner-spin-button

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		// .card-product__quantity-input[type=number]

		/* Firefox */
		&[type="number"] {
			-moz-appearance: textfield;
		}
	}

	// .card-product__quantity-btn

	&__quantity-btn {
		position: relative;
		max-width: 35px;
		width: 100%;

		background-color: #4bb3ff;
		cursor: pointer;

		// .card-product__quantity-btn::after

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			width: 15px;
			height: 15px;

			background-image: url(../img/icons/icons.svg#product-check);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	// .card-product__basket-link

	&__basket-link {
		position: relative;
		z-index: 3;

		display: block;
		width: 100%;
		padding: 7px 5px;

		color: #ffffff;
		text-align: center;
		text-decoration: none;

		background-color: #4bb3ff;
		cursor: pointer;

		transition: 0.35s;
	}
}
