.discount {
	@include padding-section;
	// .discount__inner

	&__inner {
		@media (max-width: $xs) {
			padding: 0px 15px;
		}
	}

	// .discount__title

	&__title {
		padding-bottom: 0px;

		text-align: center;
	}
}