.discount-slider {
	padding: 0px 232px;

	@media (max-width: $elg) {
		padding: 0px 85px;
	}

	@media (max-width: $lg) {
		padding: 0px 150px;
	}

	@media (max-width: $sm) {
		padding: 0px 116px;
	}

	@media (max-width: $xs) {
		max-width: 300px;
		margin: 0 auto;
		padding: 0;
	}

	// .discount-slider .slick-track

	.slick-track {
		padding-top: 60px;

		@media (max-width: $sm) {
			padding-top: 40px;
		}
	}

	// .discount-slider .slick-arrow

	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;

		width: 70px;
		height: 70px;
		padding: 0;

		background-color: #84d776;
		border: none;
		border-radius: 50%;
		cursor: pointer;

		transition: 0.35s;

		@media (max-width: $sm) {
			width: 60px;
			height: 60px;
		}

		// .discount-slider .slick-arrow:hover

		&:hover {
			background-color: darken(#84d776, 5%);
		}

		// .discount-slider .slick-arrow::after

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			width: 28px;
			height: 30px;

			background-image: url(../img/icons/icons.svg#discount-slider-arrow);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;

			@media (max-width: $sm) {
				width: 20px;
			}
		}
	}

	// .discount-slider .slick-prev

	.slick-prev {
		left: 0;

		@media (max-width: $xs) {
			left: -20px;
		}
	}

	// .discount-slider .slick-next

	.slick-next {
		right: 0;

		@media (max-width: $elg) {
			right: 20px;
		}

		@media (max-width: $xs) {
			right: -20px;
		}

		// .discount-slider .slick-next::after

		&::after {
			transform: translate(-50%, -50%) rotate(180deg);
		}
	}

	// .discount-slider__item

	&__item {
		max-width: 290px;
		margin: 0 20px;

		@media (max-width: $xs) {
			padding: 0 15px;
			margin: 0;
		}
	}

	// .discount-slider__product

	&__product {
		width: 100%;
		margin: 0;

		@media (max-width: $xs) {
			max-width: 240px;
		}
	}

	// .discount-slider__image

	&__image {
		min-height: 200px;
	}
}
