.header {
	background-color: #fefefe;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	// .header__inner

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 150px;
		padding: 13px 0;

		@media (max-width: $md) {
			justify-content: flex-start;
			min-height: 120px;
		}
	}

	// .header__logo

	&__logo {
		margin-left: 35px;

		@media (max-width: $lg) {
			max-width: 100px;
			margin-left: 0;
		}

		@media (max-width: $md) {
			max-width: 85px;
		}
	}

	// .header__logo-img

	&__logo-img {
	}

	// .header__search

	&__search {
		position: relative;

		max-width: 460px;
		width: 100%;
		margin-left: 70px;

		@media (max-width: $elg) {
			max-width: 230px;
			margin-left: 35px;
		}

		@media (max-width: $lg) {
			max-width: 180px;
			margin-left: 20px;
		}

		@media (max-width: $md) {
			max-width: 300px;
		}
	}

	// .header__search-form

	&__search-form {
	}

	// .header__search-input

	&__search-input {
		display: block;
		width: 100%;
		margin: 0;
		padding: 12px 55px 12px 25px;

		color: #000000;
		font-size: 14px;

		background-color: #f4f4f4;
		border: none;
		border-radius: 15px;

		// .header__search-input::placeholder

		&::placeholder {
			color: #8b8b8b;
		}

		@media (max-width: $lg) {
			padding: 15px 35px 15px 18px;
			font-size: 12px;
		}

		@media (max-width: $md) {
			padding: 15px 20px 15px 12px;
		}
	}

	// .header__search-btn

	&__search-btn {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);

		width: 20px;
		height: 20px;
		padding: 0;

		background-image: url(../img/icons/icons.svg#search-header);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-color: transparent;
		border: none;
		cursor: pointer;

		@media (max-width: $md) {
			right: 10px;

			width: 17px;
			height: 17px;
		}
	}

	// .header__links

	&__links {
		display: flex;
		margin-left: 45px;
		flex-grow: 1;

		@media (max-width: $elg) {
			margin-left: 30px;
		}

		@media (max-width: $lg) {
			margin-left: 20px;
		}

		@media (max-width: $md) {
			display: none;
		}
	}

	// .header__links-item

	&__links-item {
		display: flex;
		align-items: center;
		width: 100%;
		// .header__links-item+.header__links-item

		& + & {
			margin-left: 30px;

			@media (max-width: $elg) {
				margin-left: 15px;
			}
		}
	}

	// .header__links-box

	&__links-box {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;

		max-width: 42px;
		width: 100%;
		height: 42px;
		padding: 8px;

		background: #ffffff;
		border-radius: 50%;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);

		@media (max-width: $md) {
			max-width: 35px;
			max-height: 35px;
			// padding: 4px;
		}
	}

	// .header__links-image

	&__links-image {
		width: 100%;
		max-width: 26px;
		max-height: 26px;

		@media (max-width: $md) {
			max-width: 19px;
			max-height: 19px;
		}
	}

	// .header__links-text

	&__links-text {
		margin-left: 10px;

		color: #232323;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none;
	}

	// .header__basket

	&__basket {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 78px;
		height: 78px;
		width: 100%;
		padding: 12px;

		background-color: #fff;
		border-radius: 50%;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

		@media (max-width: $elg) {
			max-width: 60px;
			height: 60px;
		}

		@media (max-width: $md) {
			max-width: 50px;
			height: 50px;
			margin-left: auto;
		}
	}

	// .header__basket-image

	&__basket-image {
		max-width: 55px;
		max-height: 55px;
		width: 100%;
	}

	// .header__basket-total

	&__basket-total {
		position: absolute;
		top: 0;
		right: 0;

		width: 22px;
		height: 22px;

		color: #fff;
		font-size: 14px;
		line-height: 22px;
		text-align: center;

		background: #ff934b;
		border-radius: 50%;

		@media (max-width: $md) {
			width: 18px;
			height: 18px;

			font-size: 11px;
			line-height: 18px;
		}
	}

	// .header__menu

	&__menu {
		position: relative;

		max-width: 215px;
		width: 100%;
		margin-left: 37px;

		text-align: center;

		@media (max-width: $md) {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 100%;
			z-index: 9999;

			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			max-width: 100%;
			margin: 0;

			color: #fff !important;

			background: #000;

			transition: ease-out left 0.35s;
			// display: none;
		}

		// .header__menu--open

		&--open {
			@media (max-width: $md) {
				left: 0;
			}
		}

		// .header__menu--active

		&--active {
			display: flex;
			align-items: center;
			align-self: stretch;

			text-align: left;
		}

		@media (max-width: $lg) {
			max-width: 180px;
		}
	}

	// .header__menu-btn

	&__menu-btn {
		display: block;
		width: 100%;
		min-height: 50px;
		padding: 5px;

		color: #fff;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;

		background: #ff8635;
		border-radius: 15px;
		border: none;
		cursor: pointer;
	}

	// .header__menu-text

	&__menu-text {
		display: inline-block;
		margin-top: 5px;

		color: #828282;
		font-size: 12px;
		line-height: 14px;

		border-bottom: 1px solid #828282;
	}

	// .header__menu-dropdown

	&__menu-dropdown {
		// .header__menu-dropdown::before

		&::before {
			content: "";
			position: absolute;
			bottom: calc(0px - 13px);
			left: 0;
			z-index: -10;

			width: 50%;
			height: 70px;

			background-color: transparent;

			@media (max-width: $md) {
				content: none;
			}
		}

		// .header__menu-dropdown::after

		&::after {
			content: "";
			position: absolute;
			bottom: calc(0px - (13px + 9%));
			left: 20px;
			z-index: 9;

			width: 55px;
			height: 0px;

			background-image: url(../img/icons/icons.svg#header-menu-triangle);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			transition: 0.3s;

			@media (max-width: $md) {
				content: none;
			}
		}

		// .header__menu-dropdown:focus-within

		&:focus-within {
			// .header__menu-dropdown:focus-within .header__menu-title::before

			.header__menu-title::before {
				transform: translateY(-60%) rotateX(180deg);
			}

			// .header__menu-dropdown:focus-within .header__menu-list

			.header__menu-list {
				max-height: 400px;
				padding: 5px 10px;
				// overflow: visible;
			}

			// .header__menu-dropdown:focus-within::before

			&::before {
				z-index: 10;
			}

			// .header__menu-dropdown:focus-within::after

			&::after {
				height: 55px;
			}
		}

		// .header__menu-dropdown:hover

		&:hover {
			// .header__menu-dropdown:hover .header__menu-title::before

			.header__menu-title::before {
				transform: translateY(-60%) rotateX(180deg);
			}

			// .header__menu-dropdown:hover .header__menu-list

			.header__menu-list {
				max-height: 400px;
				padding: 5px 10px;
				// overflow: visible;
			}

			// .header__menu-dropdown:hover::before

			&::before {
				z-index: 10;
			}

			// .header__menu-dropdown:hover::after

			&::after {
				height: 55px;
			}
		}
	}

	// .header__menu-title

	&__menu-title {
		position: relative;

		padding-left: 20px;

		cursor: pointer;

		@media (max-width: $md) {
			display: none;
		}

		// .header__menu-title::before

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);

			width: 15px;
			height: 8px;

			background-image: url(../img/icons/icons.svg#t-arrow-down);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			transition: 0.4s;
		}
	}

	// .header__menu-list

	&__menu-list {
		margin: 0;
		padding: 0 10px;

		list-style: none;
		@media (min-width: 992px) {
			position: absolute;
			top: calc(100% + 13px);
			left: 0;
			z-index: 10;

			width: 100%;
			max-height: 0px;
			overflow: hidden;

			background-color: #fff;
			box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.05);

			transition-property: max-height, padding;
			transition-duration: 0.5s;
		}

		@media (max-width: $md) {
			position: relative;
			top: auto;
			left: auto;

			max-height: 100%;

			text-align: center;

			background-color: transparent;
		}
	}

	// .header__menu-item

	&__menu-item {
		// .header__menu-item--active

		&--active {
		}
	}

	// .header__menu-link

	&__menu-link {
		display: inline-block;
		margin: 3px 0;

		color: #000000;
		font-size: 16px;
		font-weight: 300;
		border-bottom: 1px solid transparent;
		text-decoration: none;

		transition: border-bottom 0.35s;

		@media (max-width: $md) {
			padding: 5px 0;

			color: #ffffff;
			font-size: 18px;
			text-transform: uppercase;
			letter-spacing: 0.15em;
		}

		// .header__menu-link:hover

		&:hover {
			border-color: #000;
		}
	}

	// .header__menu-user

	&__menu-user {
		display: block;
		width: 78px;
		height: 78px;
		margin-left: 30px;

		overflow: hidden;

		border-radius: 50%;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

		@media (max-width: $lg) {
			width: 65px;
			height: 65px;
			margin-left: 15px;
		}

		@media (max-width: $md) {
			display: none;
		}
	}

	// .header__menu-avatar

	&__menu-avatar {
		width: 100%;
		height: 100%;
	}

	// .header__close

	&__close {
		position: absolute;
		top: 25px;
		right: 25px;

		width: 25px;
		height: 25px;

		@media (min-width: 992px) {
			display: none;
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			left: 0;
			transform: rotate(45deg);

			width: 100%;
			height: 2px;

			background-color: #fff;
		}

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			left: 0;
			transform: rotate(-45deg);

			width: 100%;
			height: 2px;

			background-color: #fff;
		}
	}

	// .header__burger

	&__burger {
		@media (max-width: $md) {
			display: block;
			width: 30px;
			margin-left: 30px;

			cursor: pointer;
		}

		@media (min-width: 992px) {
			display: none;
		}

		// .header__burger--item

		&--active {
		}
	}

	// .header__burger-item

	&__burger-item {
		width: 100%;
		height: 4px;

		background-color: #2f2f2f;

		// .header__item+.header__item

		& + & {
			margin-top: 6px;
		}
	}
}
