.sales-leaders {
	@include padding-section;
	// .sales-leaders__inner

	&__inner {
		padding: 90px 50px 0px;

		background: #fefefe;
		border-radius: 15px;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	}

	// .sales-leaders__title

	&__title {
		text-align: center;
	}

	// .sales-leaders__box

	&__box {

	}

	// .sales-leaders__slider

	&__slider {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}
}
.container {
}
.title-medium {
}
