<div class="card-product">
	<div class="card-product__image" style="background-image: url(img/products/product-1.jpg);">
		<label class="card-product__label">
			<input class="card-product__label-input" type="checkbox">
			<span class="card-product__label-heart">
				<svg class="card-product__label-svg" viewBox="0 0 39 35">
					<use xlink:href="img/icons/icons.svg#product-heart"></use>
				</svg>
				<a class="card-product__label-link" href="favorites.html">Перейти в избранное</a>
			</span>
		</label>
		<a class="card-product__mark" href="#">
			<span class="card-product__mark-decor"></span>
			Новинка
		</a>
	</div>
	<div class="card-product__info">
		<div class="card-product__rating">
			<img src="img/icon-png/rating.svg" alt="">
		</div>
		<div class="card-product__info-name">Dr.Pepper “Cherry”</div>
		<div class="card-product__info-description">
			Прохладительный напиток, безалкогольный
		</div>
		<div class="card-product__info-price">45.00 руб.</div>
	</div>
	<div class="card-product__btn">
		<div class="card-product__btn-buy card-product__btn-buy--active">Купить
			товар</div>
		<div class="card-product__quantity card-product__quantity--active">
			<label class="card-product__quantity-label">
				<span class="card-product__quantity-text">Количество</span>
				<input class="card-product__quantity-input js-input-number" type="number" placeholder="0" min="1" max="99">
				<span class="card-product__quantity-btn"></span>
			</label>
		</div>
		<a class="card-product__basket-link" href="#">Перейти
			в
			корзину</a>
	</div>
</div>